body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Diff-container {
  max-height: 600px;
  max-width: 70%;
  border: 2px solid black;
  overflow-y: auto;
}

.Decision {
  display: inline-flex;
  flex-direction: column;
}

.Decision-btn {
  margin: 8px 0;
}

.ApiKey{
  margin: 16px 0;
}

input{
  width: 90%;
}